
###> symfony/framework-bundle ###
# Environment files
###> symfony/framework-bundle ###
# Environment files
.env
.env.local
.env.*.local
.env.dev
!.env.test

/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

### IDEA CONFIG
.idea/
.editorconfig
